@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #eef7ff;
  color: #082b4f;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar sottile */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #eef7ff;
}
::-webkit-scrollbar-thumb {
  background: #0b5cad44;
  border-radius: 2px;
}
